.menu {
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 1em;
  margin-right: 50% auto;
  font-size: 2rem;
  color: black;
}

a:active{
  color: red;
}

a:hover{
  color:blue;
}

.addS {
  left: 20%;

}

.showAll {
  left: 40%;
}

.upd {
  left: 60%;
}

.del {
  left: 80%;
}

